*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    max-width: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a,
button {
    cursor: pointer;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000000;
}

/* header */
.header {
    background-image: linear-gradient(to bottom, #ffd200, #f7971e);
    padding: 32px 0;
}

.menu-inner a {
    display: inline-block;
    margin-right: 16px;
}

.menu-inner .btn-sign-up {
    background-color: #deff06;
    color: #757575;
    font-size: 13px;
    letter-spacing: 0.05px;
    padding: 13px 30px;
}

.search-inner {
    width: 679px;
    margin: 128px 0;
    padding: 0 44px;
}

.search-inner h2 {
    font-size: 54px;
    font-weight: 600;
}

.search-inner p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.search-inner .search-form {
    width: 100%;
}

.search-inner .search-form input {
    border-right: 1px solid #979797;
}

/* banner */
.banner img {
    margin-top: -140px;
    margin-bottom: 32px;
}

/* section */
.section {
    margin-bottom: 82px;
}

.section .title {
    margin-bottom: 62px;
}

.section .title h2 {
    font-size: 30px;
    margin-bottom: 14px;
    opacity: 80%;
}

.section .title h2 span {
    font-weight: 600;
}

.section .title p {
    font-size: 20px;
    font-weight: 500;
    color: #696969;
    opacity: 50%;
}

.section .btn-all {
    display: inline-block;
    background-color: #f5a623;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06px;
    border: none;
    width: 228px;
    height: 60px;
    line-height: 60px;
}

/* hottest */
.deals {
    margin-bottom: 32px;
}

.deal-thumbnail {
    background-color: #e3e3e3;
    padding: 20px 0;
    margin-bottom: 10px;
}

.deal-thumbnail img {
    margin: 0 auto;
}

.deal-name p {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05px;
    opacity: 80%;
}

/* tip */
.tips {
    margin-bottom: 32px;
}

.tip-item {
    height: 200px;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.tip-item-1 {
    background-image: url("./images/tip_01.png");
}

.tip-item-2 {
    background-image: url("./images/tip_02.png");
}

.tip-item-3 {
    background-image: url("./images/tip_03.png");
}

.tip-item p {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

/* subscribe */
.subscribe {
    padding: 70px 0;
    background-image: linear-gradient(to bottom, #ffd200, #f7971e);
}

.subscribe h2 {
    font-size: 40px;
    letter-spacing: 0.12px;
    font-weight: 600;
    color: #fff;
    opacity: 0.8;
}

.subscribe p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    opacity: 0.8;
}

.subscribe .form {
    margin-top: 40px;
}

.subscribe input {
    width: 450px;
}

.form-inner {
    height: 55px;
    line-height: 55px;
}

.form-inner input {
    border: none;
    padding: 0 16px;
}

.form-inner input::placeholder {
    font-size: 13px;
    text-transform: uppercase;
    color: #757575;
    letter-spacing: 0.05px;
}

.form-inner button {
    font-size: 13px;
    color: #757575;
    letter-spacing: 0.05px;
    text-transform: capitalize;
    background-color: #deff06;
    border: none;
    padding: 0 35px;
}

/* footer */
.footer {
    background-color: #342c2c;
    color: #fff;
    padding: 35px;
}

.footer .sub-menu a {
    margin-left: 16px;
}
