* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.menu {
  background-color: #34465c;
  display: flex;
  justify-content: center;
}

.menu-item {
    position: relative;
}

.menu-item > a {
  display: inline-block;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  min-height: 60px;

  line-height: 60px;
}

.sub-menu {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);

  position: absolute;
  width: 200px;
  display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu a {
  display: block;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  padding: 0.7rem 1rem;
  text-align: center;
}
